body {
    width: 900px;
    font-family: sans-serif;
}

.page-banner {
    height: 90px;
    width: 75%;
    display: inline-block;
}

header address {
    display: inline-block;
    width: 24%;
    text-align: right;
    font-style: normal;
}

article div {
    display: inline-block;
}

#text {
    width: 70%;
}

#image {
    margin-left: 1%;
}

#image img {
    width: 256px;
    height: 256px;
}