/* Global attributes*/

* {
    font-family: 'Roboto', 'Oswald', 'Open Sans', sans-serif;
}

body {
    max-width: 60%;
    color: #292f33;
    margin: auto;
    /* border: solid 2px #096da4; */
    /* padding: 20px; */
}

h1.page-title {
    font-size: 25px;
    margin-top: 0px;
}


/* header */

header,
footer {
    margin: 20px auto;
}

header .page-banner {
    height: 90px;
    display: block;
    margin: 15px auto;
}


/* nav */

nav {
    display: inline-block;
    width: 100%;
}

nav ul,
nav ul li {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.nav-item {
    display: inline-block;
    width: calc(97% / 7);
    background: #b42719;
    list-style: none;
    margin: 0px;
    text-align: center;
}

.nav-item a {
    display: block;
    text-decoration: none;
    color: white;
    width: 100%;
    font-weight: 300;
    padding: 10px 0px;
}

.nav-item:hover {
    background-color: #096da4;
}


/* main */

main {
    display: flex;
}

.article-w-sidebar {
    display: inline-flex;
    width: 80%;
}


/* footer */

footer {
    background-color: #b42719;
    color: #ffffff;
    padding: 20px 0px;
    text-align: center;
}


/* sidebar */

.sidebar {
    display: inline-block;
    width: 19.33%;
    height: auto;
}

.sidebar ul {
    position: relative;
    top: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.sidebar nav {
    width: 90%;
    position: sticky;
    top: 20px;
}

.sidebar-item {
    display: block;
    width: 100%;
    font-weight: normal;
    text-align: center;
    margin-bottom: 5px;
}

.sidebar-item a {
    padding: 10px 0;
    font-weight: normal;
}


/* page specific */


/* Homepage */

#main-text {
    width: 64%;
    display: inline-block;
}


/* Services page */

.column {
    display: inline-block;
}

.inline-img {
    display: inline-block;
    width: 400px;
    margin: auto 0px;
    margin-left: 5px;
}

.inline-img img {
    width: 100%;
}

.dl-bold dt {
    font-weight: bold;
    line-height: 2em;
}


/* Forms */

#form-container {
    min-width: 100%;
}

#feedback-form,
#service-request-form {
    /*border: blue 1px dashed;*/
    display: inline-block;
    margin: auto;
    min-width: 100%;
}

.form-field {
    display: flex;
    padding: 5px;
    margin: 5px;
}

label {
    display: inline-flex;
    min-width: 33.33%;
}

input,
select {
    display: inline-flex;
    width: calc(100% - 33.33%);
    border: none;
    border-bottom: 1px #1e1e1e solid;
    font-size: 1em;
}

fieldset {
    margin-top: 1em;
}

.btn {
    padding: 1em;
    margin: 0.5em;
    display: inline-block;
    width: 45%;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: #1e1e1e;
    color: #dddddd;
    font-size: 100%;
    font-style: italic;
}

.form-field .checkbox ul {
    display: inline-block;
    width: 100%;
}

.form-field .checkbox {
    display: inline-block;
    width: 48%;
    border: 1px red solid;
}

.checkbox label {
    display: inline-block;
    width: auto;
}

.checkbox input {
    width: 10%;
}